.logo{
  height:110px;
}

body{
  margin:0;
  font-family: Arial;
  font-size: 20px;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
  background: #d5d1d1;
}

.hero h1{
  font-size:18px;
  font-family: 'Helvetica', sans-serif;
  color:#9110be;
  margin-bottom:5px;
}

.hero h2{
  font-size:38px;
  font-family: Arial;
  font-weight:bold;
  color:#F31FAB;
  margin-top:0;
  margin-bottom:5px;
}

.hero h3{
  font-size:45px;
  font-family: Arial;
  font-weight:bold;
  color:#9110be;
  margin-top:0;
  margin-bottom:10px;
}

.hero h4{
  font-size:16px;
  font-family: 'Helvetica', sans-serif;
  color:rgb(132, 132, 132);
  margin-top:0;
  margin-bottom:5px;
}

.hero p{
  font-size:16px;
  font-family: 'Helvetica', sans-serif;
  color:rgb(132, 132, 132);
  margin-top:0;
  margin-bottom:20px;
}

.botao-agendar{
  background: rgb(57, 195, 190);
  color: rgb(49, 49, 49);
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 40px;
}

.hero{
  background-image: url("fundo1.png");
  background-size: cover;
  background-position: center;
  padding:120px 80px;
}

@media (max-width:768px){
  .botao-agendar{
    width: 100%; /* botão ocupa toda largura */
    padding: 12px;
    font-size: 16px;
  }

.atencao {
  background-image: url("fundo2.png");
  background-size: cover;
  background-position: center;
  padding: 120px 80px;

  display: flex;
  justify-content: flex-end; /* joga tudo pra direita */
}

.atencao-conteudo {
  max-width: 500px; /* controla largura do texto */
  text-align: right;
}

.atencao h2 {
  font-size: 22px;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  color: #EE1F31;
  margin-bottom: 20px;
}

.atencao h3 {
  font-size: 30px;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.atencao h4 {
  font-size: 30px;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.atencao h5 {
  font-size: 25px;
  font-family: 'Helvetica', sans-serif;
  color: rgb(92, 91, 91);
  margin-bottom: 20px;
}

.atencao p {
  font-size: 20px;
  font-family: 'Helvetica', sans-serif;
  color: rgb(132, 132, 132);
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .atencao {
    justify-content: center; 
    padding: 60px 20px;
  }

  .atencao-conteudo {
    text-align: center;
  }

  .atencao h2,
  .atencao h3,
  .atencao h4,
  .atencao h5,
  .atencao p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .container-colunas {
    flex-direction: column; /* empilha as colunas */
    gap: 20px; /* diminui o espaço entre elas */
  }

  .sobre, .servico {
    width: 100%; /* cada coluna ocupa toda a largura */
    border-right: none; /* remove a linha vertical */
  }
}


.sobre h2{
  font-size:22px;
  font-family: 'Helvetica', sans-serif;
  font-weight:bold;
  color:#F31FaB;
  margin-top:0;
  margin-bottom:20px;
}

.sobre h3{
  font-size:20px;
  font-family: 'Helvetica', sans-serif;
  color:#000000;
  margin-top:0;
  margin-bottom:10px;
}

.sobre p{
  font-size:20px;
  font-family: 'Helvetica', sans-serif;
  color:#000000;
  margin-top:0;
  margin-bottom:30px;
}

.servico h2{
  font-size:22px;
  font-family: 'Helvetica', sans-serif;
  font-weight:bold;
  color:#F31FaB;
  margin-top:0;
  margin-bottom:20px;
}

.servico h3{
  font-size:20px;
  font-family: 'Helvetica', sans-serif;
  color:#000000;
  margin-top:0;
  margin-bottom:10px;
}

.servico h4{
  font-size:20px;
  font-family: 'Helvetica', sans-serif;
  color:#000000;
  margin-top:0;
  margin-bottom:30px;
}

nav a{
  color:rgb(0, 0, 0);
  margin-left:15px;
  text-decoration:none;
}

.menu-icon{
  font-size:30px;
  color:rgb(0, 0, 0);
  cursor:pointer;
  display:none;
}


@media (max-width:768px){ 

  nav{
    display:none;
    position:absolute;
    top:70px;
    right:0;
    background:#f5efef;
    flex-direction:column;
    width:200px;
  }

  nav a{
    padding:15px;
    border-bottom:1px solid #000000;
  }

  .menu-icon{
    display:block;
  }

}

section{
  padding:40px;
}

.contato{
  background-image: url("linha.png");
  background-size: cover;
  background-position: center;
}

.footer{
  font-size:10px;
  color:#000000;
  text-decoration:none;
  background:#f5efef;
}

.fa-whatsapp{
  color:#25D366;
  margin-right:8px;
}

.fa-envelope{
  margin-right:8px;
  color:#555;
}

.fa-instagram{
  color:#E4405F;
  margin-right:8px;
  font-size:18px;
}

footer{
  background:#f5efef;
  color:rgb(0, 0, 0);
  text-align:center;
  padding:10px;
}

